<div class="content grid">
  <div class="text">
    <h2>
      <%= I18n.t("welcome_msg", locale: @user_auth.locale) %>
    </h2>
    <a style="display:inline-block;text-decoration:none;padding:8px 13px;background-color:#00BF6F;border:0.5px solid #64d3c0;border-radius:3px;color:#FFF;font-weight:bold;" href="https://business.mrsool.co/login" target="_blank">
        Mrsool Business Portal
    </a>
  </div>
</div>